body {
  background-image: url("https://images.pexels.com/photos/673927/pexels-photo-673927.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-repeat: no-repeat;

  background-size: cover;
}
h1 {
  font-family: "Lobster", cursive;
  font-size: 55px;
  font-weight: 100;
  line-height: 35px;
  margin-bottom: 0;
  width: 300px;

  position: relative;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 100;
  line-height: 20px;
  text-transform: capitalize;
}

.wrapping {
  max-width: 600px;
  margin: 10px auto;
}
.application {
  max-width: 600px;
  margin: 15px auto;
  margin-bottom: 5px;
  padding: 25px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.overall {
  margin-bottom: 20px;
}
#temperature {
  font-size: 84px;
  color: rgb(33, 33, 33);
  font-weight: 400;
}
.weather-temperature .img {
  float: left;
  position: relative;
}
.weather-temperature .units {
  margin-right: 0;
  height: 65px;
  position: relative;
  top: -35px;
}
a:link {
  text-decoration: none;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
}
.weather-temperature .active:hover {
  cursor: default;
  text-decoration: none;
}
.col-6 {
  float: left;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  padding: 0;
}
.forecast-day {
  font-size: 16px;
}

.max-temperature {
  color: black;
  font-weight: 300;
}

.min-temperature {
  color: white;
}
#button-search {
  background-color: #ccc9cd;
  border: 1px solid #ccc9cd;
}
#search-form {
  float: right;
  right: 0;
  position: relative;
}
#date {
  font-weight: 600;
}
