h1 {
  font-family: "Lobster", cursive;
  font-size: 40px;
  font-weight: 100;
  line-height: 70px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(135, 135, 135);
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 100;
  line-height: 20px;
  text-transform: capitalize;
}

.wrapping {
  max-width: 600px;
  margin: 10px auto;
}
.application {
  max-width: 600px;
  margin: 35px auto;
  margin-bottom: 5px;
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.overall {
  margin-bottom: 20px;
}
#temperature {
  font-size: 54px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  line-height: 54px;
  margin-left: 10px;
}
.weather-temperature img {
  height: 64px;
  width: 60px;
}
.weather-temperature .units {
  margin-right: 5px;
  height: 65px;
  position: relative;
  top: -25px;
}
a:link {
  text-decoration: none;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
}
.weather-temperature .active:hover {
  cursor: default;
  text-decoration: none;
}
.col-6 {
  float: left;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  padding: 0;
}
.forecast-day {
  font-size: 16px;
}

.min-temperature {
  color: #a3a4a7;
}
